body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(33, 20, 3);
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
}


.box {
  width: 350px;
  height: 650 px;
  background: rgba(168, 119, 5, 0.103);
  padding: 80px;
  text-align: center;
  margin: auto;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  position: relative;
  z-index: 1;
}

.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.box h5 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}

.box p {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

.box li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

.box li a:hover {
  color: #b9b9b9;
}
